{% extends "scrclubCMSBundle:cms:layout.html.twig" %}

{% block body %}


<div class="container">


<div class="featurette">
    <h2 class="featurette-heading">{{ 'edit'| trans }} {{ 'section'| trans }} /
        <div class="muted featurette-sub-heading">{{ node.name }}</div>
    </h2>
</div>

<hr class="featurette-divider">


{% if form.get('errors') is not empty %}
<div class="row-fluid page-header">
    <div class="featurette">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> {{form_errors(form)}}
        </div>
    </div>
</div>
{% endif %}

<form action="{{ path('scrclub_cms_addnode', {'id': node.id }) }}" method="post" {{ form_enctype(form) }} novalidate>
    <div class="row-fluid page-header">
        <div class="featurette pull-right">



                <div id="active_box_button" class="switch switch-small">
                    {{ form_widget(form.active, { 'attr': {'id': 'active_box'} }) }}
                </div>

                <span class="right-caret-btn"></span>
                <a alt="{{node.fullslug}}" href="#"><button class="btn"><i class="icon-search"> {{node.fullslug}}</i></button></a>

        </div>
    </div>



    {% set form_locales = form.translations.vars.locales %}
    {% set fields = form.translations.fields %}

    <div class="tabbable">
        <ul class="nav nav-tabs" id="langTab">


            {% for locale in form_locales %}


            {% set icon = '' %}

            {% if (form.translations.vars.default_locale[0] != locale)%}
            {% for translationForm in form.translations if (translationForm.vars.name == locale) %}

            {% if (translationForm.name.get('value') == "") %}

            {% set icon = '<i class="icon-warning-sign"></i>' %}

            {% endif %}
            {% endfor %}
            {% endif %}


            <li class="{% if (app.request.locale == locale) %} active {% endif %}">
                <a href="#{{locale}}" data-toggle="tab">{{icon | raw}} {{getLocaleName(locale,  app.request.locale  ) | capitalize }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">


        {% for locale in form_locales %}


        <div class="tab-pane x {% if (app.request.locale == locale) %} active {% endif %}" id="{{locale}}">

            <fieldset>
                <div class=" well control-group">
                    <div class="row-fluid">

                        {% if (form.translations.vars.default_locale[0] == locale) %}

                        <div class="span9">

                            {{ form_label( form.name , 'name' | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
                            }}
                            {{ form_widget(form.name,  {'attr': {'class': 'input-xxlarge'}})}}


                            {{ form_label( form.description , 'description' | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
                            }}
                            {{ form_widget(form.description,  {'attr': {'class': 'input-xxlarge'}})}}


                        </div>

                        {% else %}

                        {% for translationForm in form.translations if (translationForm.vars.name == locale) %}

                        <div class="span9">

                            {% for f in translationForm.children %}

                            {{ form_label( f , f.name | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
                            }}
                            {{ form_widget(f,  {'attr': {'class': 'input-xxlarge'}})}}

                            {% endfor %}

                        </div>


                        {% endfor %}

                        {% endif %}

                    </div>
                </div>
            </fieldset>

        </div>
        <script type="text/javascript">
            $(function () {

                $('#scrclub_cmsbundle_nodetype_translations_{{locale}}_description').wysihtml5();

            })
        </script>

        {% endfor %}
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{ 'template.settings'| trans  }}</a>
        </div>
    </div>

    <fieldset>
        <div class=" well control-group">
            <div class="row-fluid">

                <div class="span3">
                    <label>{{ 'force.article'| trans  }}</label>

                    <div id="auto_content_button" class="switch switch-small">
                        <input id="auto_content" type="checkbox" value="value1" checked="checked">
                    </div>
                </div>

                <div class="span4">


                    <label>{{ 'layouts'| trans  }}</label>
                    {{ form_widget(form.template)}}
                </div>

                <div class="span3">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary">Preview</button>
                </div>


            </div>
        </div>


    </fieldset>

    <fieldset>
        <div class=" well control-group">

            {{ form_widget(form.categories, { 'attr': {'class': 'input-xlarge populate placeholder category-select'}, 'empty_value': '' }) }}

        </div>
    </fieldset>


    <fieldset>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{% trans %}mediaset{% endtrans %}</a>
            </div>
        </div>


        {{ form_widget(form.type)}}
        <div class="">
            <div class="accordion mediasets" id="accordion2" data-prototype="{{ form_widget(form.mediasets.vars.prototype)|e }}">


                {% for mediaform in form.mediasets %}


                <div class="accordion-group">
                    <div class="accordion-heading" style="background-color: rgb(243, 243, 243)">
                        <div class="accordion-toggle-cms">
                            <a class="accordion-heading-link-cms" data-toggle="collapse" data-parent="#accordion2" href="#c{{mediaform.get('value').id}}">
                                {{mediaform.get('value').name}}
                            </a>

                            <div class="accordion-heading-link-cms">
                                | {{mediaform.get('value').type}}
                            </div>

                            | max : {{mediaform.get('value').max}}
                            <div class="pull-right delete-mediaset">
                                <i class="icon-trash"></i> Delete
                            </div>

                        </div>
                    </div>
                    <div id="c{{mediaform.get('value').id}}" class="accordion-body collapse">
                        <div class="accordion-inner" style="background-color: rgb(253, 253, 253)">
                            {{form_widget(mediaform)}}
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>

        <button id="mediaset-button" class="btn" type="button">
            <i class="icon-plus"></i> {% trans %}add{% endtrans %} {% trans %}mediaset{% endtrans %}</button>


        <button type="submit" class=" btn btn-primary pull-right" id="validate_section">{% trans %}save.changes{% endtrans %}</button>
    </fieldset>
    {{ form_widget(form._token) }}
</form>

</div>
<!-- /container -->


<script type="text/javascript">

    $(function() {


        $('#scrclub_cmsbundle_nodetype_description').wysihtml5();


    $('#langTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })


    })
    /*
     $('#active_box_button').toggleButtons();
     $('#auto_content_button').toggleButtons({

     onChange: function ($el, status, e) {

     //console.log("hello")

     if (status)
     $('#scrclub_cmsbundle_nodetype_template').attr('disabled', 'disabled');
     else
     $('#scrclub_cmsbundle_nodetype_template').removeAttr('disabled');
     }

     });

     */



    var collectionHolder = $('div.mediasets');

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a mediaset</a>');
    var $newLinkLi = $('<div></div>').append($addTagLink);

    var index;

    jQuery(document).ready(function () {

        collectionHolder.data('index', collectionHolder.find(':input').length);

        $('#mediaset-button').on('click', function (e) {

            e.preventDefault();
            addMediaSetForm(collectionHolder, $newLinkLi);

        });
    });

    function addMediaSetForm(collectionHolder) {

        var prototype = collectionHolder.data('prototype');

        index = collectionHolder.data('index') + 1;
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        collectionHolder.data('index', index);

        var $newFormLi = $('<div></div>').append('' +
                '<div class="accordion-group">' +

                    '<div class="accordion-heading" style="background-color: rgb(212, 232, 241)">' +
                        '<div class="accordion-toggle-cms">' +
                            '<a  class="accordion-heading-link-cms" data-toggle="collapse" data-parent="#accordion2" href="#cnew' + (index + 1) + '">' +
                            'New' +
                            '</a>' +
                            '<div class="pull-right delete-mediaset">' +
                                '<i class="icon-trash"></i> Delete' +
                            '</div>' +
                        ' </div>' +
                    '</div>' +
                    '<div id="cnew' + (index + 1) + '" class="accordion-body collapse">' +
                        '<div class="accordion-inner" style="background-color: rgb(253, 253, 253)">' +
                        newForm +

                        '</div>' +
                    '</div>' +

                '</div>'
        );


        setNiceCheckBox(collectionHolder.append($newFormLi));
        setDeleteAction();
        //setNiceChechBox();
    }

    function setNiceCheckBox (el) {

        el.find(":input[type=checkbox]").wrap('<div class="switch switch-small" />');
        el.find('.switch')['switch']();



    }

    function setDeleteAction() {

        $.each($('.delete-mediaset'), function () {

            $(this).click(function () {
                $($(this).parents().get()[2]).remove();
            })

        })

    }

    setDeleteAction();


    $(".category-select").select2({
                placeholder :"{% trans %}choose.category{% endtrans %}"
            }
    );


</script>


{% endblock %}