{% extends "scrclubCMSBundle:cms:layout.html.twig" %}

{% block body %}

    {% javascripts '@scrclubCMSBundle/Resources/public/js/cms/mediaset.js' filter='yui_js'  output='js/compiled/mediaset.js' %}
    <script src="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"></script>
    {% endjavascripts %}

    <script>

        var translations = {

            "upload.drag"    : "{{ 'upload.drag'| trans }} ",
            "embed.files"    : "{{ 'embed.files'| trans }} ",
            "choose.category": "{{ 'choose.category'| trans }} ",
            "add.mediaset"   : "{{ 'add.mediaset'| trans }} "

        }

    </script>
    <style>

        .wysi {
            width: 95%;
        }

    </style>

    {% javascripts '@scrclubCMSBundle/Resources/public/js/cms/edit-post.js' filter='yui_js'  output='js/compiled/edit-post.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {{ form_errors(form) }}
    <div class="container post" id="{{ node.id }}">

    <ul class="breadcrumb">
        <li><a href="{{ path('scrclub_cms_homepage') }}">Home</a> <span class="divider">/</span></li>
        {% if node.parent %}{% include 'scrclubCMSBundle:cms:node_nav.html.twig' with {'node':node.parent, 'level':0 } %}{% endif %}
    </ul>

    {% if node.type == "post" %}
        {% set titleType = "post" %}
    {% elseif node.type == "node " %}
        {% set titleType = "article" %}
    {% endif %}

    <div class="featurette">
        <h2 class="featurette-heading">{{ 'edit'| trans }} {{ titleType | trans }} /
            <div class="muted featurette-sub-heading">{{ node.name }}</div>
        </h2>
    </div>

    <hr class="featurette-divider">

    <!------------- Errors --------------->

    {% if form.get('errors') is not empty %}
        <div class="row-fluid page-header">
            <div class="featurette">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> {{ form_errors(form) }}
                </div>
            </div>
        </div>
    {% endif %}

    <!------------- Global properties --------------->



    {% if node.type =='node' %}
        {% set formPath = path('scrclub_cms_addnode', {'id': node.id }) %}
    {% elseif node.type =='post' %}
        {% set formPath = path('scrclub_cms_addpost', { 'parent_id' : parent_id, 'id': node.id }) %}
    {% endif %}

    <form action="{{ formPath }}" method="post" {{ form_enctype(form) }} novalidate>


    <div class="row-fluid page-header">
        <div class="featurette  span10">


            <div id="active_box_button" class="switch switch-small span1">
                {{ form_widget(form.active, { 'attr': {'id': 'active_box'} }) }}
            </div>

            <div class="span2">
                {{ form_widget(form.date) }}
            </div>

            <!--
        <span class="right-caret-bt"></span>
        <div  class=" span1">
        <a alt="{{node.fullslug}}" href="#">
            <button class="btn"><i class="icon-search"> {{node.fullslug}}</i></button>
        </a>
        </div>
        -->
        </div>
    </div>

    <!------------- Translatable ahou --------------->

    {% set form_locales = form.translations.vars.locales %}



    {% set fields = form.translations.fields %}


    <div class="tabbable">
        <ul class="nav nav-tabs" id="langTab">

            <!-- default locale -->


            <li class="active">
                <a href="#{{ form.translations.vars.default_locale[0] }}" data-toggle="tab">{{ icon | raw }} {{ getLocaleName(form.translations.vars.default_locale[0],  app.request.locale  ) | capitalize }}</a>
            </li>


            {% for locale in form_locales %}

                {% set icon = '' %}

                {% if (form.translations.vars.default_locale[0] != locale) %}


                    {% for translationForm in form.translations if (translationForm.vars.name == locale) %}

                        {% if (translationForm.name.get('value') == "") %}
                            {% set icon = '<i class="icon-warning-sign"></i>' %}
                        {% endif %}

                    {% endfor %}


                    <li class="{% if (form.translations.vars.default_locale[0] == locale) %} active {% endif %}">
                        <a href="#{{ locale }}" data-toggle="tab">{{ icon | raw }} {{ getLocaleName(locale,  app.request.locale  ) | capitalize }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div class="tab-content">


        <!-- default locale -->

        <div class="tab-pane x active " id="{{ form.translations.vars.default_locale[0] }}">

            <fieldset>
                <div class=" well control-group">
                    <div class="row-fluid">

                        <div class="span12">

                            {{ form_label( form.name , 'title' | lower | trans , {'attr': {'class': 'input-xxlarge' }})
                            }}
                            {{ form_widget(form.name,  {'attr': {'class': 'input-xxlarge' }})}}

                            {{ form_label( form.header , 'header' | lower | trans  , {'attr': {'class': 'input-xxlarge' }}
                            )
                            }}
                            {{ form_widget(form.header,  {'attr': {'class': 'input-xxlarge  wysi' }})}}


                            {{ form_label( form.description , 'content' | lower | trans  , {'attr': {'class': 'input-xxlarge' }}
                            )
                            }}
                            {{ form_widget(form.description,  {'attr': {'class': 'input-xxlarge  wysi' }})}}

                            {% for textContentForm in form.textContent %}

                            <label>{{ textContentForm.vars.value.name }}</label>
                            {{ form_widget(textContentForm.text, {'attr': {'class': 'input-xxlarge h wysi' }}) }}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </fieldset>
        </div>



        {% for locale in form_locales %}


            <div class="tab-pane x {% if (form.translations.vars.default_locale[0]  == locale) %} active {% endif %}" id="{{ locale }}">

                <fieldset>
                    <div class=" well control-group">
                        <div class="row-fluid">


                            <div class="span12">
                            {% if (form.translations.vars.default_locale[0]  != locale) %}
                                {% for translationForm in form.translations if (translationForm.vars.name == locale) %}



                                        {% for f in translationForm.children %}

                                            {{ form_label( f , f.name | lower | trans  , {'attr': {'class': 'input-xxlarge' }})
                                            }}

                                            {% set className = "input-xxlarge" %}
                                            {% if f.name == "description" or f.name == "header" %}
                                                {% set className = "input-xxlarge  wysi" %}
                                            {% endif %}

                                            {{ form_widget(f,  {'attr': {'class': className }})}}

                                        {% endfor %}




                                {% endfor %}

                                {% for textContentForm in form.textContent %}

                                        {% for translationForm in textContentForm.translations if (translationForm.vars.name == locale)  %}
                                            <label>{{ textContentForm.vars.value.name }}</label>
                                            {{ form_widget(translationForm.text, {'attr': {'class': 'input-xxlarge  wysi' }}) }}
                                        {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </fieldset>

            </div>


        {% endfor %}
    </div>


    <!--
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{ 'dates'| trans }}</a>
            <ul class="nav" id="mediaset-add-tab">
                <li class=""><a href="#" id="add-date"><i class="icon-plus"></i> {% trans %}add.date{% endtrans %}</a></li>

            </ul>
        </div>
    </div>


    <div id="date-fields-list" data-prototype="{{ form_widget(form.dates.vars.prototype) | e }}">

        {% for date in form.dates %}

        <fieldset>

            <div class=" well control-group">
                <div class="row-fluid">

                        <div class="span3">
                            {{ form_widget(date.dateStart) }}
                        </div>

                        <div class="span3">
                            {{ form_widget(date.dateEnd) }}
                        </div>

                        <div class="span3" id="date-{{ date.vars.value.id }}">
                            <div class="btn btn-primary delete-date">Delete</div>
                        </div>
                </div>
            </div>

        </fieldset>

        {% endfor %}


    </div>

    -->

    <!--
    {% if form.textContent is not empty %}

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{ 'Text content'| trans }}</a>
            <ul class="nav" id="mediaset-add-tab">
                {% for textContentForm in form.textContent %}
                <li ><a href="#textcontent-{{ textContentForm.vars.value.id }}">{{ textContentForm.vars.value.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-content">
    {% for textContentForm in form.textContent %}
        <div class="tab-pane " id="textcontent-{{ textContentForm.vars.value.id }}">
            <div id="add-textcontent-{{ textContentForm.vars.value.id }}">
                    <fieldset>
                        <div class=" well control-group">
                            <div class="row-fluid">

                              

                                <span class="label">{{form.translations.vars.default_locale[0]}}  </span>
                                {{ form_widget(textContentForm.text) }}
                                <hr>
                                {% for translationForm in textContentForm.translations  %}
                                <span class="label">{{ translationForm.vars.name }}  </span>
                                    {{ form_widget(translationForm.text) }}
                                {% endfor %}
                            </div>
                        </div>
                </fieldset>
            </div>
        </div>
        {% endfor %}


    </div>

    {%  endif %}
    -->

    <!------------- Template  --------------->

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{ 'template.settings'| trans }}</a>
        </div>
    </div>

    <fieldset>
        <div class=" well control-group">
            <div class="row-fluid">

                <div class="span3">
                    <label>{{ 'force.article'| trans }}</label>

                    <div id="auto_content_button" class="switch switch-small">
                        {{ form_widget(form.auto_content, { 'attr': {'id': 'auto_content_box'} }) }}
                    </div>


                </div>

                <div class="span3">
                    <label>{{ 'layouts'| trans }}</label>
                    {{ form_widget(form.template) }}
                </div>


                {% if node.type == 'node' %}
                    <div class="span3">
                        <label>{{ 'layoutsDefaultChild'| trans }}</label>
                        {{ form_widget(form.templateDefaultChild) }}
                    </div>
                {% endif %}


                <!--
                <div class="span3">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary">Preview</button>
                </div>
                -->


            </div>
        </div>


    </fieldset>

    <!------------- Categories and media sets  --------------->

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{ 'categories.mediaset'| trans | capitalize }}</a>
            <ul class="nav" id="mediaset-add-tab">

                <li class="active"><a href="#category-menu">{{ 'categories'| trans }}</a></li>
                <li><a href="#mediaset-menu">{{ 'mediasets'| trans | capitalize }}</a></li>
                <li><a href="#geolocation" onclick="javascript: clickgeo();return false;">{{ 'Géolocalisation' }}</a>
                <li><a href="#fields-menu">Fields</a></li>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">


        <div class="tab-pane active" id="category-menu">

            <fieldset>
                <div class=" well control-group">

                    {{ form_widget(form.categories, { 'attr': {'class': 'input-xlarge populate placeholder category-select'}, 'empty_value': '' }) }}

                </div>
            </fieldset>

        </div>

        <div class="tab-pane" id="mediaset-menu">

            <fieldset>
                <div class=" well control-group">
                    {{ form_widget(form.mediasets, { 'attr': {'class': 'input-xlarge populate placeholder mediaset-select'}, 'empty_value': '' }) }}
                </div>
            </fieldset>

        </div>

        <div class="tab-pane" id ="fields-menu" data-prototype="{{ form_widget(form.contentTypeConfigs.vars.prototype) | e }}">
            <a id="add-contenttypeconfig" class=" btn btn-primary" style="margin-bottom:20px" href="#" >Add another field</a>


            {% for contentTypeConfig in form.contentTypeConfigs %}
                <fieldset>
                    <div class=" well control-group">
                        {{ form_errors(contentTypeConfig) }}
                        {{ form_widget(contentTypeConfig) }}
                        <div  id="fields-delete" class="delete-field btn btn-primary">Delete</div>
                    </div>

                </fieldset>
            {% endfor %}

        </div>


        <div class="tab-pane" id="geolocation">



            <fieldset>
                <div class="well control-group">

                    {{ form_widget(form.latitude) }}
                    {{ form_widget(form.longitude) }}

                    <script>

                    var gmapUrl = "{{ path("scrclub_cms_gmapupdate", {"id" : node.id}) }}";

                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
                    {% javascripts '@scrclubCMSBundle/Resources/public/js/cms/geolocation.js' filter='yui_js'  output='js/compiled/geolocation.js' %}
                    <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}

                    <div id="panel" class="row-fluid">

                        {{ form_widget(form.formatted_address) }}

                        <input id="btn_geoloc" type="button" class="btn span3" value="{{ "search.location" | trans }}" onclick="getPosition()">
                    </div>
                    <div id="map-canvas" class="row-fluid"></div>
                    <br><br>
                    {{ node.gMapData.country }}
                    {{ node.gMapData.countryShort }}
                    {{ node.gMapData.state }}
                    {{ node.gMapData.stateShort }}
                    {{ node.gMapData.region }}
                    {{ node.gMapData.regionShort }}
                    {{ node.gMapData.city }}


                </div>
            </fieldset>
        </div>

    </div>


    <hr>

    <!------------- Medias  --------------->

    {% if  node.id and node.mediasets | length > 0 %}


        <fieldset>
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">{{ 'mediasets'| trans | capitalize }}</a>
                    <ul class="nav" id="mediaset-tab">
                        {% for mediaset in node.mediasets %}
                            <li {% if loop.first %}class="active" {% endif %}>
                                <a href="#mediaset-{{ mediaset.id }}">{{ mediaset.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div class="tab-content">
                {% for mediaset in node.mediasets %}

                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="mediaset-{{ mediaset.id }}">

                        <ul class="nav nav-tabs">
                            <li {% if loop.first %} class="active" {% endif %} >
                                <a href="#mediaset-node-{{ mediaset.id }}" data-toggle="tab">{{ "your.post" | trans }}</a>
                            </li>
                            <li>
                                <a href="#mediaset-all-{{ mediaset.id }}" data-toggle="tab">{{ "mediaset.all" | trans }}</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="mediaset-node-{{ mediaset.id }}">

                                <ul class="media-post-container sortable-thumb thumbnails ">

                                    {% for mediaNode in node.getMediaNodes() %}
                                        {% if contains(mediaset, mediaNode.media.getMediaSets() ) %}
                                            {% include 'scrclubCMSBundle:cms:list_image.html.twig' with {'mediaNode':mediaNode, 'mediaset':mediaset} %}
                                        {% endif %}
                                    {% endfor %}

                                </ul>
                            </div>


                            <div class="tab-pane " id="mediaset-all-{{ mediaset.id }}">

                                <!-- here is the uploader-->
                                <div class="row">
                                    <div id="mediaset-upload-{{ mediaset.id }}" class="span12"></div>

                                    <div id="mediaset-status-{{ mediaset.id }}" class="span12" style="padding-top:14px; display: none;">
                                        <div style="display: inline;">
                                            <img style="display: inline;" src="{{ asset("bundles/scrclubcms/img/cms/spinner.gif") }}">
                                            <div style="display: inline;" class="finename"></div>
                                            - <div style="display: inline;" class="pct">

                                            </div> %
                                        </div>
                                    </div>


                                </div>
                                <hr>


                                <ul class="media-scroll-container thumbnails ">

                                    {% for media in mediaset.medias %}

                                        {% include 'scrclubCMSBundle:cms:list_image_mediaset.html.twig' with {'media':media, 'mediaset':mediaset, 'addPostLink':true} %}

                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </fieldset>




    {% elseif not node.id %}


        <div class="alert alert-info">
            <i class=" icon-exclamation-sign"></i> {{ 'validate.post.media.notice'| trans }}
        </div>

    {% endif %}

    {% for contentTypeForm in contentTypeForms %}
        {{ form_widget(contentTypeForm) }}
    {% endfor %}


    <div>

        <button type="submit" class=" btn btn-primary pull-right" id="validate_section">{% trans %}save.changes{% endtrans %}</button>
        {{ form_widget(form._token) }}
    </div>



    </form>


        <!------------- Modal --------------->


        <div id="media-edit-modal" class="modal hide fade ">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="modal-name"></h3>
            </div>

            <div class="modal-body"></div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Close</a>
                <button id="media-form-submit" type="submit" class=" btn btn-primary pull-right">{% trans %}save.changes{% endtrans %}</button>
            </div>
        </div>

    </div>

    <div class="span12" style="margin-bottom:20px"></div>

    <!-- /container -->



    <script type="text/javascript">

        {% if  node.id %}
        {% for mediaset in node.mediasets %}
        createUploader({{mediaset.id}});
        {% endfor %}
        {% endif %}

        $(function () {

            //$('#scrclub_cmsbundle_{{node.type}}type_description').wysihtml5({"html": true});
            //$('#scrclub_cmsbundle_{{node.type}}type_header').wysihtml5({"html": true});


            $( ".wysi" ).each(function( index ) {

                //var editor = new wysihtml5.Editor("textarea-id");
                var t = $(this);
                var editor = $(this).wysihtml5({
                    "html": true,
                    "events": {
                        "load": function() {
                            t.nextAll('iframe:eq(0)').eq(0).wysihtml5_size_matters();

                        },

                    }

                });



            });

            $(".select2").select2({width:"resolve"});


            /*
            // google maps
            initialize();
            {% if node.latitude and node.longitude %}
            setPosition({{ node.latitude}}, {{ node.longitude }});
            {% else %}
            getPosition();
            {% endif %}
            $("#googlemaps_input").select2({placeholder: "maps"});

            */

        })

        // content type config

        var contentTypeConfigCount = '{{ form.contentTypeConfigs | length }}';

        jQuery('#add-contenttypeconfig').click(function(e) {

            e.preventDefault();
            var emailList = jQuery('#fields-menu');

            // parcourt le template prototype
            var newWidget = emailList.attr('data-prototype');
            // remplace les "__name__" utilisés dans l'id et le nom du prototype
            // par un nombre unique pour chaque email
            // le nom de l'attribut final ressemblera à name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, contentTypeConfigCount);
            contentTypeConfigCount++;

            // créer une nouvelle liste d'éléments et l'ajoute à notre liste
            //var newLi = jQuery('<fieldset><div class=" well control-group"></div></fieldset>').html(newWidget);
            //newLi.appendTo(jQuery('#fields-menu'));

            var input = $('<fieldset><div class=" well control-group">'+ newWidget +

                    '<div  id="fields-delete" class="delete-field btn btn-primary">Delete</div>' +
                    '</div></fieldset>').insertAfter('#add-contenttypeconfig');

            assignDeleteFields();
            $(".select2").select2({width:"resolve"});


            return false;
        });

        assignDeleteFields();
        function assignDeleteFields () {


            $(".delete-field ").click(function () {
                $(this).parent().parent().remove();
            })
        }







        function clickgeo() {

            setTimeout(
                    function () {
                        initialize();
                        {% if node.latitude  and node.longitude  %}
                        setPosition({{ node.latitude}}, {{ node.longitude }});
                        {% else %}
                        getPosition();
                        {% endif %}
                    }, 1);

        }




        //------------------ dates

        assignDeleteDates();

        function assignDeleteDates() {



            $(".delete-date").unbind("click");
            $(".delete-date").click(function () {


                var container = $(this).parents("fieldset");
                var id = $(this).parent().attr("id");

                if(!id) {
                    container.hide("400", function () {

                        container.remove();

                    })
                    return;
                }

                var splits = id.split("-");
                id = splits[1];

                $.ajax({
                    type: "POST",
                    url: "{{ path('scrclub_cms_deletedate') }}/"+id,
                    success: function () {

                        container.hide("400", function () {
                            container.remove()
                        })
                    }
                });
            })
        }

        var dateCount = {{ form.dates | length }}
                jQuery('#add-date').click(function () {

                    var productList = jQuery('#date-fields-list');

                    var newWidget = productList.attr('data-prototype');

                    newWidget = newWidget.replace(/__name__/g, dateCount);
                    dateCount++;

                    var jQueryWidget = $(newWidget);

                    jQueryWidget.find(".wrap-span3").parent().addClass('span3');
                    jQueryWidget.find(".wrap-push-span3").parent().addClass('span3 push');
                    jQueryWidget.find("ul").parent().parent().addClass('span4');
                    jQueryWidget.find("ul").addClass('nav nav-tabs');


                    // créer une nouvelle liste d'éléments et l'ajoute à notre liste

                    var input = $('<fieldset><div class=" well control-group">' +
                            '<div class="row-fluid">' + jQueryWidget.html() +
                            '<div class="span3">' +
                            '<label>&nbsp;</label>'+
                            '<div  id="date-delete" class="delete-date btn btn-primary">Delete</div>' +
                            '</div></div></div></fieldset>').insertAfter('#date-fields-list');

                    input.css("display", "none");
                    input.show("200");



                    //jQueryWidget.wrap("<tr />").appendTo(jQuery('#products-fields-list > tbody'));

                    assignDeleteDates();

                    return false;
                });


    </script>



{% endblock %}