{% extends "scrclubCMSBundle:cms:layout.html.twig" %}

{% block body %}

<div class="container">


    <div class="featurette">
        <h2 class="featurette-heading">{{ 'categories'| trans }}
            <div class="muted featurette-sub-heading">--</div>
        </h2>
    </div>

    <hr class="featurette-divider">

    <div class="row-fluid page-header">
        <div class="featurette">
            <a href="{{path('scrclub_cms_categories_add')}}" ><button class="btn btn-large pull-right" type="button"><i class="icon-plus"></i> {% trans %}add{% endtrans %} {% trans %}category{% endtrans %}</button></a>
        </div>
    </div>

    {% if categories|length > 0 %}


    <table class="table">
        <thead>
        <tr>
            <th>{{ "name" | trans | capitalize }}</th>

            <th style="text-align:right;">{{ "actions" | trans | capitalize }}</th>
        </tr>
        </thead>
        <tbody>


            {% for category in categories %}
        <tr id="{{category.id}}">
            <td>{{category.name}}</td>

            <td style="text-align:right;"><a href="{{path('scrclub_cms_categories_add', {id:category.id})}}" ><i class="icon-edit"> {{ "edit" | trans | capitalize }}</i></a> - <a href="#" class="remove-category"><i class="icon-trash"> {{ "delete" | trans | capitalize }}</i></a></td>
        </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}

</div>


<script>

var translations = {
    "wannadoo.this": "{{ 'wannadoo.this'| trans }} "
}

</script>
{% javascripts '@scrclubCMSBundle/Resources/public/js/cms/categories.js' filter='yui_js'  output='js/compiled/categories.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}


{% endblock %}