{% extends "scrclubCMSBundle:cms:config.html.twig" %}

{% block sub_body %}


{% if form.points.vars.errors|length %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ form_errors(form) }}
    {{ error|trans({}, 'FOSUserBundle') }}
</div>
{% endif %}

<fieldset>
    <div class="navbar">
        <div class="navbar-inner" id='menu-analytics'>
            <a class="brand" href="#">{{ 'analytics'| trans | capitalize }}</a>
            <ul class="nav" id="usertab">

                <li class="active"><a href="#google-config">{{ 'Google Analytics' | trans }}</a></li>
                <li><a href="#gosquared-config">{{ 'Go Squared' | trans }}</a></li>

            </ul>
        </div>

    </div>


<form action="{{ path('scrclub_cms_analytics') }}" method="post" {{ form_enctype(form) }}>
    <div class="tab-content">

        <div class="tab-pane active" id="google-config">

            <div class=" well control-group">

                <img src="{{asset('img/cms/google.png')}}" class="img-rounded">


                <div class="margin-top-20 alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class=" icon-exclamation-sign"></i> {{ 'google.explication'| trans | raw }}
                </div>

                <hr>

                    {{ form_label   (form.gg_email , 'Google Email' | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
                    }}
                    {{ form_widget  (form.gg_email,  {'attr': {'class': 'input-xxlarge'}})}}

                    {{ form_label( form.gg_password , 'Google Password ' | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
                    }}
                    {{ form_widget(form.gg_password,  {'attr': {'class': 'input-xxlarge'}})}}

                    <label class="input-xxlarge">Analytics ID <i data-toggle="tooltip"  id="label-google" class="icon-question-sign"></i></label>
                    <label id="help-google" style="display: none;">
                        <small class="muted ">{{"google.api.help" | trans }}</small><br>
                        <img src="{{asset('bundles/scrclubcms/img/cms/google_urlbar.png')}}">
                    </label>
                    {{ form_widget(form.gg_analyticsid,  {'attr': {'class': 'input-xxlarge'}})}}



                    {% if config.getGgAnalyticsid() | length > 0  %}
                    <hr>
                    <div id="connect-check">
                        <div class="alert alert-info">
                            <i class="icon-refresh icon-spin"></i> {{ 'connection.checking' | trans }}
                        </div>
                    </div>
                    {% endif %}

            </div>
        </div>

        <div class="tab-pane" id="gosquared-config">
            {{ form_label   (form.gs_apikey , 'GoSquared API Key' | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
            }}
            {{ form_widget  (form.gs_apikey,  {'attr': {'class': 'input-xxlarge'}})}}

            {{ form_label( form.gs_sitetoken , 'GoSquared Site token ' | lower | trans | capitalize , {'attr': {'class': 'input-xxlarge' }})
            }}
            {{ form_widget(form.gs_sitetoken,  {'attr': {'class': 'input-xxlarge'}})}}
        </div>

    </div>

    {{ form_widget(form._token) }}
</fieldset>
<button type="submit" class=" btn btn-primary pull-right" id="validate_section">{% trans %}save.changes{% endtrans %}</button>
</form>


<script type="text/javascript">

    $('#label-google').click(function() {
        $('#help-google').toggle(200, function() {
            // Animation complete.
        });
    });




    $('#menu-analytics a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });


    $(function () {

        {% if config.getGgAnalyticsid() | length > 0  %}

        $.ajax({
            url    :"{{path("scrclub_cms_googlecheck")}}",
            success:function (data) {

                if (data == 'connected') {
                    $("#connect-check").html('<div class="alert alert-success" ><i class="icon-ok"></i> {{ 'connection.connected' | trans }}</div>');

                } else {

                    $("#connect-check").html('<div class="alert alert-error" ><i class="icon-remove"></i> {{ 'connection.error' | trans }}</div>');

                }

            }

        })

    {% endif %}

    })


</script>


{% endblock %}