{% extends "scrclubCMSBundle:cms:config.html.twig" %}

{% block sub_body %}

<fieldset>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{ 'users'| trans | capitalize }}</a>
            <ul class="nav" id="usertab">

                {% for role in roles %}
                <li {% if loop.first %}class="active" {% endif %}><a href="#{{role.role}}">{{ role.role| trans }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="tab-content">
    {% for role in roles %}

        <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{role.role}}">
            <div class="control-group">
            <ul class="thumbnails">

                {% for user in users %}

                {% if role.role in user.roles %}

                <li class="span2">
                    <div class="thumbnail">
                        <a href="{{ path('scrclub_cms_adduser', { 'id': user.id }) }}">
                            <img data-src="holder.js/170x150" {% if (user.image.getWebPath() != "" )%}src="{{ asset((user.image.getWebPath()) | apply_filter('cms_user_thumb')) }}" {% endif %}  alt="">
                        </a>
                            <hr>

                        <div style="padding-left:10px" class="">
                            <a {% if user.lastLogin %}class="user-name"{% endif %} data-toggle="tooltip" data-placement="right" title="{% if user.lastLogin %}Last connection: {{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}" href="{{ path('scrclub_cms_adduser', { 'id': user.id }) }}">


                                    {{ user.username }}

                            </a>
                            <hr>

                            {% if user.id != app.user.id %}
                            <p><a class="delete-user" id="{{user.id}}" href="#"><i class="icon-trash"></i> {{ 'delete'| trans | capitalize }}</a></p>
                            {% else %}
                            <p class="text-success"><i class=" icon-star"></i> {{ 'itsyou'| trans | capitalize }}</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            </div>


            <div class="row-fluid page-header">
                <div class="featurette">
                    <a href="{{path('scrclub_cms_adduser', { 'id': user.id})}}" ><button class="btn pull-right" type="button"><i class="icon-plus"></i> {% trans %}add{% endtrans %} {% trans %}user{% endtrans %}</button></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>



</fieldset>

<script type="text/javascript">


    var translations = {
        "wannadoo.this": "{{ 'wannadoo.this'| trans }}"
    }
    var deleteUserPath = "{{ path('scrclub_cms_deleteuser') }}";

</script>
{% javascripts '@scrclubCMSBundle/Resources/public/js/cms/users.js' filter='yui_js'  output='js/compiled/users.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}