{% extends "scrclubCMSBundle:cms:layout.html.twig" %}



{% block body %}



<div class="container">

    <ul class="breadcrumb">
        <li><a href="{{  path('scrclub_cms_homepage')}}">Home</a> <span class="divider">/</span></li>
        {% if node.parent  %}{% include 'scrclubCMSBundle:cms:node_nav.html.twig' with {'node':node.parent, 'level':0 } %}{% endif %}
    </ul>


    <div class="featurette">
        <h2 class="featurette-heading">{{ 'section'| trans | capitalize }} {{ nodeParent.name }}</h2>
        <div class="muted featurette-sub-heading">

            {% if  tree | length == 1 %}
                {% set articles = 'post'| trans  %}
                {% else %}
                {% set articles = 'posts'| trans  %}
            {% endif %}
            {{tree | length}} {{ articles  }}
        </div>
    </div>




    {% if form.get('errors') is not empty %}
    <div class="row-fluid page-header">
        <div class="featurette">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error!</strong> {{form_errors(form)}}
            </div>
        </div>
    </div>
    {% endif %}

    <hr class="featurette-divider">

    <div class="row-fluid page-header">
        <div class="featurette">

            <div class="span9">
                <input cols="1" style="height:50px" class="large-input " autofocus="autofocus"/>
            </div>
            <div class="span3">
                <a href="#" ><button data-parent-id = "{{ nodeParent.id }}" class="add-post btn btn-large pull-right" type="button"><i class="icon-plus"></i> {% trans %}add{% endtrans %} {% trans %}post{% endtrans %}</button></a>
            </div>
        </div>

    </div>
    <div id="alert-area"></div>



    {% include 'scrclubCMSBundle:cms:nodeChildren.html.twig' with {'tree':tree, 'level':0 } %}

    <hr>




</div>

    <div id="addNodeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-body">

        </div>

    </div>
<!-- /container -->



<script>

    $(document).ready(function () {


        $(".add-post").click(function (e) {

            //console.log($(this).attr("data-parent-id"));

            $('#addNodeModal').modal({
                remote:"{{path('scrclub_cms_preaddnode', {type:"post"})}}/" + $(this).attr("data-parent-id")
            })

            e.preventDefault();
            return false;

        })





        $('.sortable').nestedSortable({

            handle              :   'div',
            helper              :   'clone',
            items               :   'li',
            rootID              :   {{ nodeParent.id }},
            opacity             :   1,
            tolerance           :   'pointer',
            placeholder         :   "placeholder",
            forcePlaceholderSize:   true,
            protectRoot         : true,

            update              :   function (event, ui) {

                                    var arraied = $('.sortable').nestedSortable('toArray', {startDepthCount:0});



                                        $.ajax({
                                            type :'post',
                                            cache:false,
                                            url  :'{{ path('scrclub_cms_editnodetree') }}/1',
                                            data :{data:arraied},


                                            success: function(data){
                                                console.log(data);
                                            }
                                        });


                                    }

        });




    });



    jQuery('.submenu').hover(function () {
        jQuery(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
    },function () {
        jQuery(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
    }).find("a:first").append(" &raquo; ");


    $(function () {

        $('.delete_node' ).each(function() {

            $(this).click(function () {

                var li = $($(this).parents().get()[4]);
                var id = li.attr('id').slice(5);



                bootbox.confirm("{{ 'wannado.this' | trans }}", function(result) {

                    if (result) {
                        $.ajax({
                            type :'post',
                            cache:false,
                            url  :'{{ path('scrclub_cms_deletenode')}}',
                            data :{data:id},
                            success: function(data){
                                newAlert("success", "{{ 'delete.success' | trans }}");
                                li.remove();
                            }
                        });
                    }
                });
            })
        });

        $('.switch-active' ).each(function() {

            $(this).on('switch-change', function (e, data) {

                var li = $($(this).parents().get()[1]);
                var id = li.attr('id').slice(5);

                var result = {
                    id : id,
                    active:data.value
                }

                $.ajax({
                    type :'post',
                    cache:false,
                    url  :'{{ path('scrclub_cms_updateActiveNode')}}',
                    data :result,
                    success: function(data){

                        //newAlert("success", "{{ 'update.success' | trans }}");
                    }
                });
            })
        });

    })

    $(function ($) {

                function listFilter(input, list) {
                    input.change( function () {
                        var filter = $(this).val();


                        var hasFound = false;
                        list.find("#name").each(function(i, data) {

                            text = $(this).text();

                            if (text.match(RegExp(filter, 'i'))) {
                                $(this).parent().show();
                                $( ".sortable" ).nestedSortable( "disable" );

                            } else {
                                $(this).parent().hide();
                                hasFound = true;

                            }
                        });

                        if(filter == "" ) {

                            $( ".sortable" ).nestedSortable( "enable" );
                        }


                        return false;
                    })
                            .keyup( function () {
                                // fire the above change event after every letter
                                $(this).change();
                            });
                }

                $(function () {
                    listFilter($(".large-input"), $(".list"));
                });
            }(jQuery));

</script>




</script>



{% endblock %}